<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="protocolo">
            <h2><span jhiTranslate="protocoloTap1App.protocolo.detail.title">Protocolo</span> {{protocolo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="protocoloTap1App.protocolo.usuario">Usuario</span></dt>
                <dd>
                    <div *ngIf="protocolo.usuario">
                        <a [routerLink]="['/usuario', protocolo.usuario?.id, 'view']">{{protocolo.usuario?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="protocoloTap1App.protocolo.origem">Origem</span></dt>
                <dd>
                    <span *ngFor="let origem of protocolo.origems; let last = last">
                        <a [routerLink]="['/local', origem?.id, 'view' ]">{{origem.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="protocoloTap1App.protocolo.destino">Destino</span></dt>
                <dd>
                    <span *ngFor="let destino of protocolo.destinos; let last = last">
                        <a [routerLink]="['/local', destino?.id, 'view' ]">{{destino.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/protocolo', protocolo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
