<div>
    <h2 id="page-heading">
        <span jhiTranslate="protocoloTap1App.protocolo.home.title">Protocolos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-protocolo" [routerLink]="['/protocolo/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="protocoloTap1App.protocolo.home.createLabel">
            Create new Protocolo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="protocolos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="protocoloTap1App.protocolo.usuario">Usuario</span></th>
            <th><span jhiTranslate="protocoloTap1App.protocolo.origem">Origem</span></th>
            <th><span jhiTranslate="protocoloTap1App.protocolo.destino">Destino</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let protocolo of protocolos ;trackBy: trackId">
                <td><a [routerLink]="['/protocolo', protocolo.id, 'view' ]">{{protocolo.id}}</a></td>
                <td>
                    <div *ngIf="protocolo.usuario">
                        <a [routerLink]="['../usuario', protocolo.usuario?.id, 'view' ]" >{{protocolo.usuario?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let origem of protocolo.origems; let last = last">
                            <a class="form-control-static" [routerLink]="['../local', origem?.id, 'view' ]">{{origem.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let destino of protocolo.destinos; let last = last">
                            <a class="form-control-static" [routerLink]="['../local', destino?.id, 'view' ]">{{destino.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/protocolo', protocolo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/protocolo', protocolo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'protocolo/'+ protocolo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
